/* Police personnalisée */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');



/******** body ********/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.global{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* style des titres,paragraphes */

h1{
    margin: 10px 10px 7px 0;
    font-size: 19px;
}

p{
    font-size: 12px;
}

h2{
    font-size: 16px;
    margin: 25px 10px 25px 10px;
}

h3{
    font-size: 13px;
    padding: 7px 0 1px 10px;
}

h3+p{
    font-size: 12px;
    padding: 3px 0 0 10px;
}

/******** Header ********/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 50px;
    margin: 30px 0 20px 10px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li a:hover{
    border-top: 2px solid blue;
    color: blue;
}
nav li a{
    text-decoration: none;
    color: black;
    padding: 37px 25px 0 25px;   
}

/********* Barre de formulaire **********/

form{
    border: none;
}


#formulaire{
    position: relative;
    margin-bottom: 70px;
}

.formulaire{
    position: absolute;
    margin-top: 15px;
       
}

#ico_loc{
    position: absolute;
    text-align: center;
    font-size: 12px;
    padding: 15px 15px;
    background-color: #F2F2F2;
    border-radius: 13px 0 0 13px; 
}

#barre_form{
    position: absolute;
    left: 39px;
}

input{
    border: 1px solid #F2F2F2;
    padding: 11px 22px 11px 14px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

input:focus{
    outline: 1px solid #F2F2F2;
}

button{
    position: absolute;
    padding: 13px 20px 13px 13px;
    left: 229px;
    border: none;
    background-color: #0065FC;
    border-radius: 0 13px 13px 0;
    color: white;
    font-weight: bold;
}

.icone_bouton_responsive{
    display: none;
}

/******** filtres ********/

.filtre{
    display: flex;
    font-weight: bold;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0 40px; */
   
}   

.filtre h2{
    margin: 25px 35px 25px 0;
}

.groupe_filtre{
    display: flex;
}

.barre_filtre{
    display: flex;
    border: 2px solid #F2F2F2;
    height: 42px;
    border-radius: 30px;
    margin-right: 20px;
    align-items: center;
}

.barre_filtre:hover{
    background-color: #DEEBFF;
    box-shadow: 8px 9px 15px 0px rgba(88,88,88,0.7);
    transition: 0.9s;
    cursor: pointer;
}

.icone_filtre{
    background-color: #DEEBFF;
    border-radius: 30px;
    padding: 13px;
    height: 17px;
    width: 17px; 
    color: #0065FC; 
}

.texte_filtre{
    padding: 0 16px 0 13px;
}

p.texte_filtre{
    font-size: 15px;
}

.point_info{
    display: flex;
    align-items: center;
    font-size: 20px;  
    margin: 25px 0; 
}

.icone_info{
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 5px 7px;
    font-size: 10px;
    margin: 0 15px 0 10px;
    color: #0065FC;
}

/********* hébergements ********/

.section_hebergement{
    display: flex;
    /* margin: 0 40px; */
    width: auto;
}

.hebergement{
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    height: auto;
    width: 65%;
    margin: 0 15px 0 0;
    padding: 0 24px 25px 24px;
}


.position_article_heberg{
    display: flex;
    flex-direction: column;
}

.heberg_1{
    display: flex;
}

.heberg_2{
    display: flex;
}

.lien_afficher_plus{
    display: flex;
    margin-left: 15px;
}

#a_afficher{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

#a_afficher:hover{
    color: #0065FC;
    transform: scale(1.03);
}

.card_heberg{
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    background-color: white;
    border-radius: 15px;
    width: 65%;
    height: 175px;
    margin: 0 10px 30px 10px;
    box-shadow: 4px 5px 9px 1px #B4B4B4;
}

.card_heberg a{
    text-decoration: none;
    color: black;
}

.card_heberg:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}

.texte_article_heberg{
    display: flex;
    flex-direction: column;
    height: 40px;
    max-height: 30%;
    justify-content: space-between;
    letter-spacing: -0.5px;
}

.image_heberg{
    border-radius: 11px 11px 0 0;
    height: 140px;
    max-height: 60%;
    width: 100%;
    object-fit: cover;
}

p span{
    font-weight: bold;
}

.padding_notation_heberg{
    padding-left: 10px;
}

/********* les plus populaires **********/


.populaire{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 30%;
    margin-left: 15px;
    padding: 0 24px;

}

.en_tete_populaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.fa-chart-line{
    padding-right: 17px;
    font-size: 20px;
    font-weight: bold;
}

.card_populaire{
    display: flex;
    border: 4px solid white;
    background-color: white;
    border-radius: 15px ;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    margin-bottom: 30px;
    box-shadow: 4px 5px 9px 1px #B4B4B4;
}

.card_populaire:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}
.card_populaire a{
    text-decoration: none;
    color: black;
}

.image_popu{
    border-radius: 11px 0 0 11px;
    height: auto;
    width: 32%;
    object-fit: cover;
}

.texte_article_popu{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    letter-spacing: -0.5px;
    padding-left: 8px;
}

.padding_notation_popu{
    padding: 33px 0 0 10px;
}


/**** notation étoile ****/

.etoile {
    display: inline-flex;
    justify-content: center;
    font-size: 11px;
}

.fa-star {
	color: #DEEBFF;
}

.star_1,.star_2,.star_3,.star_4,.star_5{
    color: #0065FC;
}

/********** activités à Marseille ***********/

#activites{
    width: auto;
}

.activite_mars{
    display: flex;
    justify-content: space-between;
    width: auto;
}


.activite_mars a{
    text-decoration: none;
    color: black;
}

.groupe_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.activite_mars h3{
    display: flex;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}

.card_activite_port{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 15px ;
    width: 25%;
    margin: 0 30px 30px 0;
    box-shadow: 5px 6px 7px 0.88px #B4B4B4;
}

.card_activite_port:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}

.image_acti_port{
    border-radius: 11px 11px 0 0;
    height: 330px;
    width: 100%;
    object-fit: cover;
}

.card_activite_fort{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px ;
    width: auto;
    margin: 0 0 30px 0;
    box-shadow: 5px 6px 7px 0.88px #B4B4B4;
}

.card_activite_fort:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}

.image_acti_fort{
    border-radius: 11px 11px 0 0;
    height: 135px;
    width: 100%;
    object-fit: cover;
}

.card_activite_iles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px ;
    width: auto;
    margin: 0 0 30px 0;
    box-shadow: 5px 6px 7px 0.88px #B4B4B4;
}

.card_activite_iles:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}

.image_acti_iles{
    border-radius: 11px 11px 0 0;
    height: 110px;
    width: 100%;
    object-fit: cover;
}

.card_activite_calanques{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px ;
    width: 25%;
    margin: 0 30px 30px 30px;
    box-shadow: 5px 6px 7px 0.88px #B4B4B4;
}

.card_activite_calanques:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}

.image_acti_calanques{
    border-radius: 11px 11px 0 0;
    height: 330px;
    width: 100%;
    object-fit: cover;
}

.card_activite_notre_dame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px ;
    width: auto;
    margin: 0 0 30px 0;
    box-shadow: 5px 6px 7px 0.88px #B4B4B4;
}

.card_activite_notre_dame:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}

.image_acti_notre_dame{
    border-radius: 11px 11px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.card_activite_longchamp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px ;
    width: auto;
    margin: 0 0 30px 0;
    box-shadow: 5px 6px 7px 0.88px #B4B4B4;
}

.card_activite_longchamp:hover{
    box-shadow: 0px 5px 20px 7px rgba(0, 100, 250, 0.5);
    transition: 0.5s;
    transform: scale(1.01);
}
.image_acti_longchamp{
    border-radius: 11px 11px 0 0;
    height: 130px;
    width: 100%;
    object-fit: cover;
}

/********* Footer ***********/

footer{
    display: flex;
    background-color: #F2F2F2;
    height: 160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 20px;
    justify-content: space-between;
}

footer li a{
    text-decoration: none;
    color: black;
}

footer li a:hover{
    color: #0065FC;
    transform: scale(1.03);
}

.titre_footer{
    font-size: 13px;
    font-weight: bold;
    padding-top: 15px;
}

.liste_footer{
    display: flex;
    list-style: none;
    padding-top: 10px;
    font-size: 13px;
} 

.a_propos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 50px 40px;
}

.nos_heberg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 80px;
}

.assistance{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 350px 80px 0;
}


/****** media queries ******/


/* téléphones portables */

@media screen and (max-width: 768px){

    
    .global{
        width: auto;
        margin: 0;
    }


    /*** logo+nav ***/


    nav{
        flex-direction: column;
        
    }

    nav ul{
        margin: 10px 0 30px 0;
        padding: 0;
    }


    nav li a:hover{
        border-top: none;
        border-bottom: 2px solid blue;
    }

    nav li a{
        border-bottom: 2px solid #F2F2F2;
        padding: 37px 50px 10px 50px;
    }

    #menu_responsive{
       display: flex;
       justify-content: center;
       
    }


    /*** formulaire ***/

    .titre_principal{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 30px 0 30px;
        
    }
    
    .formulaire{
       margin-left: 45px;
        
    }

    #formulaire{
        margin-bottom: 100px;
    }
   

    button{
        padding: 14.5px;
        left: 240px;
        
    }

   .bouton_responsive{
        display: none;
    }

   .icone_bouton_responsive{
        display: flex;
        width: auto;
        border-radius: 13px 13px 13px 13px;
        right: 20px;
    }

    #ico_loc{
        width: auto;
        left: 4px;
    }

    
    /*** filtres ***/


    .filtre h2{
        margin: 30px 0 20px 0;
        padding-left: 15px;
        font-size: 18px;
    }

    .filtre{
        display: block; 
    }
    
    .barre_filtre{
        display: flex;
        width: max-content;
        margin: 0 0 10px 20px;
    }

    .point_info{
        padding-left: 10px;
        
    }


    /* hébergements - populaires */

    
    .section_hebergement{
        flex-direction: column-reverse;
    }
    
    .en_tete_populaire{
        padding: 0;
    }

    .populaire{
        width: auto;
        margin: 0;
        padding: 0 0 20px 0;
        border-radius: unset;
    }

    .fa-chart-line{
        padding-right: 20px;
    }

    .image_popu{
        border-radius: 11px 0 0 11px;
        height: 100%;
        width: 40%;
    }
    
    .card_populaire{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        height: 130px;
        padding: 0;
    }

    .texte_article_popu,h3,p{
        font-size: 15px;
        letter-spacing: 0.2px;
    }
    
    .padding_notation_popu{
        padding: 40px 0 0 10px;
    }

    .hebergement{
        background-color: unset;
        border: none;
        width: auto;
        margin-right: 0;
        padding: 0;
        
    }

    .heberg_1{
        flex-direction: column;
        
    }
    .heberg_2{
        flex-direction: column;
    }

    .image_heberg{
        max-height: none;
        height: 115px;
    }

    .card_heberg{
        width: 85%;
        height: 185px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
       
    }

    h2{
        font-size: 21px;
        margin: 25px 10px 25px 30px;
        padding: 0;
    }

    #a_afficher{
        padding: 20px 0 35px 5px;
        font-size: 16px;
    }

    /* activités */

    #activites{
        flex-direction: column;
    }

    .activite_mars{
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .groupe_card{
        width: 100%;
    }


    .card_activite_calanques,.card_activite_port{
        width: 100%;
        padding: 0;
    }

    .card_activite_calanques{
        margin-left: 0;
    }
    
    .activite_mars img{
        height: 170px;
    }

    .activite_mars h3{
        font-size: 17px;
        padding: 20px;
    }

    /* footer */

    footer{
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }

    .a_propos,.nos_heberg,.assistance{
        display: flex;
        padding: 0 0 20px 40px;
    }
    
    .assistance{
        padding-bottom: 40px;
    }


}

    /****** tablettes ******/

@media screen and (min-width:768px) and (max-width:992px){


    .global{
        width: auto;
        margin: 0;
    }


    /*** logo+nav ***/


    nav{
        flex-direction: column;
        
    }

    nav ul{
        margin: 10px 0 30px 0;
        padding: 0;
    }


    nav li a:hover{
        border-top: none;
        border-bottom: 2px solid blue;
    }

    nav li a{
        border-bottom: 2px solid #F2F2F2;
        padding: 37px 50px 10px 50px;
    }

    #menu_responsive{
       display: flex;
       justify-content: center;
       
    }


    /*** formulaire ***/


    .titre_principal{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 30px 0 30px;
        
    }
    
    .formulaire{
        margin: 40px 0 0 50px;
    }
   

    button{
        padding: 14.4px;
        left: 250px;
        
    }

   .bouton_responsive{
        display: none;
    }

   .icone_bouton_responsive{
        display: flex;
        width: auto;
        border-radius: 13px 13px 13px 13px;
        right: 20px;
    }

    #ico_loc{
        width: auto;
        left: 4px;
    }

   /***** filtre ****/

   .filtre h2{
        margin: 30px 0 15px 25px;
    }

    #titre_filtre{
        display: block;
        width: 100%;
    }

    .filtre{
        margin-top: 100px;
        width: auto;
        justify-content: center;
    }

    .barre_filtre{
        margin: 10px;

    }

   /* hébergements */

    .section_hebergement{
        flex-direction: column-reverse;
    }

    .groupe_card_popu{
        display: flex;
        flex-direction: row;
    }

    .populaire{
        width: auto;
        margin: 20px 10px 40px 10px;
        padding-bottom: 50px;
    }

    .card_populaire{
        flex-direction: column;
        height: 200px;
        margin: 0 20px;
    }

    .image_popu{
        border-radius: 11px 11px 0 0;
        height: 60%;
        width: 100%;
    }

    .texte_article_popu{
        padding-top: 5px;
    }

    .padding_notation_popu{
        padding: 5px 0 15px 10px;
    }

    .hebergement{
        width: auto;
        margin: 0 10px;
    }

    .hebergement h2{
        padding-left: 12px;
    }

    .card_heberg{
        
        margin: 10px 20px;
    }

    h3{
        padding-top: 0;
    }
   
    #a_afficher{
        padding-top: 20px;
    }

   /* activités */

    #activites h2{
        padding-left: 30px;
    }

    .groupe_card{
        justify-content: space-between;
    }

    .activite_mars{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }

    .image_acti_iles{
        height: 130px;
    }


   /***** footer *****/


   .assistance{
       padding-right: 250px;
   }

   
}


